*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/upheno.obo
src/ontology/upheno.owl
src/ontology/upheno-base.owl
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 

.DS_Store
.idea
dosdp-tools.log
src/scripts/__pycache__/lib.cpython-36.pyc
src/curation/patterns-for-matching/
src/curation/upheno-fillers/
src/curation/upheno-fillers-no-id/
src/curation/upheno-release-prepare/
src/curation/upheno-release/
src/curation/tmp/
src/curation/pattern-matches-test/
src/curation/pattern-matches-test2/
src/curation/ontologies-for-matching/
src/curation/upheno-profiles/
src/curation/old-matches/


src/ontology/inferred_ontology.owl
src/ontology/merged_ontology.owl
src/ontology/archive/inferred_ontology.owl
src/ontology/archive/merged_ontology.owl
