*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/upheno.obo
src/ontology/upheno.owl
src/ontology/upheno-base.owl
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 

.DS_Store
.idea
dosdp-tools.log
src/scripts/__pycache__/lib.cpython-36.pyc
src/curation/upheno-fillers/
src/curation/upheno-fillers-no-id/
src/curation/upheno-release-prepare/
src/curation/upheno-release/
src/curation/tmp/
src/curation/pattern-matches-test/
src/curation/pattern-matches-test2/
src/curation/ontologies-for-matching/
src/curation/upheno-profiles/
src/curation/old-matches/


src/ontology/inferred_ontology.owl
src/ontology/merged_ontology.owl
src/ontology/archive/inferred_ontology.owl
src/ontology/archive/merged_ontology.owl
src/patterns/all_pattern_terms.txt
src/patterns/pattern_owl_seed.txt
src/scripts/scratch.py
src/scripts/pattern_match0.sh
src/scripts/upheno_all_with_relations.owl
src/scripts/upheno_all_with_relations_mod.owl
src/curation/upheno_release/all/upheno_old_metazoa.owl
src/ontology/tmp/mat_upheno.owl
src/scripts/pattern-matches-oneoff/ontologies/hp.owl
src/scripts/pattern-matches-oneoff/ontologies/mp.owl
src/scripts/pattern-matches-oneoff/ontologies/wbphenotype.owl
src/scripts/pattern-matches-oneoff/ontologies/xpo.owl
src/scripts/pattern-matches-oneoff/ontologies/zp.owl
src/scripts/pattern-matches-oneoff/ontologies/xpo.owl
src/scripts/pattern-matches-oneoff/upheno_patterns/*.yaml
src/scripts/__pycache__/lib.cpython-38.pyc
src/scripts/.ipynb_checkpoints/upheno_analysis-checkpoint.ipynb
src/scripts/.ipynb_checkpoints/lexical_mapping-checkpoint.ipynb
src/scripts/pattern-matches-oneoff/matches_old/*
src/curation/upheno-stats/
src/curation/upheno-stats2/
src/scripts/matches2020-10-15/
src/ontology/AWSCLIV2.pkg
src/curation/upheno_id_map.txt
sync.sh
src/curation/s3/hp/abnormalDegenerationOfAnatomicalEntity.tsv
src/curation/s3/
src/scripts/pattern-matches/matches_old/
src/scripts/pattern-matches/generic_matches/
src/scripts/pattern-matches/upheno_matches/
src/scripts/pattern-matches/upheno_patterns/
src/scripts/pattern-matches/ontologies/
src/ontology/.template.db
src/ontology/tmp/upheno_all_with_relations.*
src/ontology/tmp/upheno.db.lexical.yaml
